<h2>Sobre o Search App</h2>
<div class="card">
    <div class="card-body">
        <p>
            O Search App é uma ferramenta simples de busca utilizando api's externas, a pincípio do GitHub e logo mais de diversas outras.
            A mesma permite que usuários registrados possam fazer comentários a respeito de cada resultado de pesquisa, aparecendo para os demais.
            Obs: Comentários desrespeitosos serão removidos pelo administrador e o usuário será punido.
        </p>
    </div>
</div>