<div class="container">
    <div class="span3 well">
        <center>
        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" class="img-circle">
        <h3 class="media-heading">Nome Usuário, <small>País</small></h3>
		</center>
    </div>
    <div class="d-flex justify-content-center">
        <center>
            <p class="text-left">
                Aqui vai o exemplo de uma bio do meu perfil!
            </p>
        </center>
    </div>
</div>